<ion-view title="Game">
    <ion-content overflow-scroll="true" class="has-header" style="background:#F0F0F0;">

        <div class="list">
            <a class="item item-thumbnail-right" href="#">
                <img src="images/app/desert.jpeg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-right" href="#">
                <img src="images/app/building2.jpeg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-right" href="#">
                <img src="images/app/bateau.jpeg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-right" href="#">
                <img src="images/app/table.jpeg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-right" href="#">
                <img src="images/app/navy2.jpeg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
        </div>
    </ion-content>
</ion-view>
