<ion-view title="Profile">
    <ion-content overflow-scroll="true" class="has-header" style="background:#F0F0F0;">
        <div class="list card">
            <div class="item item-avatar">
                <img src="images/app/sarko.jpeg">
                <h2>Sarko</h2>
                <p>November 05, 1955</p>
            </div>
        </div>

        <label class="item item-input item-select">
            <div class="input-label">
                Activity
            </div>
            <select>
                <option>Activity</option>
                <option>Followers</option>
                <option>My pictures</option>
            </select>
        </label>

        <div class="list">
            <a class="item item-thumbnail-left" href="#">
                <img src="images/app/foret.jpeg">
                <h2>Jolie forêt</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/app/bateau.jpeg">
                <h2>Quel Bateau</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/app/montagne.jpeg">
                <h2>Haute Montage</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/app/navy.jpeg">
                <h2>Navy</h2>
                <p>Nine Inch Nails</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
                <img src="images/app/world.jpeg">
                <h2>Notre monde</h2>
                <p>Nine Inch Nails</p>
            </a>
        </div>
    </ion-content>
</ion-view>
