<ion-tabs class="tabs-positive tabs-icon-only">
    <ion-tab title="Profile" icon="icon ion-home" ui-sref="tab.profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
    <ion-tab title="game" icon="icon ion-android-camera" ui-sref="tab.game">
        <ion-nav-view name="tab-game"></ion-nav-view>
    </ion-tab>
    <ion-tab title="description" icon="icon ion-android-attach" ui-sref="tab.description">
        <ion-nav-view name="tab-description"></ion-nav-view>
    </ion-tab>
</ion-tabs>